<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: Android Checkstyle
    Description: none
-->
<module name="Checker">
  <property name="severity" value="warning"/>
  <module name="TreeWalker">
    <module name="MissingOverride"/>
    <module name="JavadocStyle"/>
    <module name="ClassTypeParameterName"/>
    <module name="ConstantName"/>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="PackageName"/>
    <module name="ParameterName"/>
    <module name="StaticVariableName"/>
    <module name="TypeName"/>
    <module name="AvoidStarImport">
      <property name="severity" value="info"/>
    </module>
    <module name="IllegalImport"/>
    <module name="RedundantImport">
      <property name="severity" value="error"/>
    </module>
    <module name="UnusedImports">
      <property name="severity" value="info"/>
    </module>
    <module name="GenericWhitespace"/>
    <module name="EmptyForInitializerPad"/>
    <module name="EmptyForIteratorPad"/>
    <module name="NoWhitespaceAfter"/>
    <module name="NoWhitespaceBefore"/>
    <module name="OperatorWrap"/>
    <module name="TypecastParenPad">
      <property name="tokens" value="RPAREN,TYPECAST"/>
    </module>
    <module name="MethodParamPad"/>
    <module name="WhitespaceAfter">
      <property name="tokens" value="COMMA,TYPECAST"/>
    </module>
    <module name="WhitespaceAround"/>
    <module name="ModifierOrder">
      <property name="severity" value="info"/>
    </module>
    <module name="NeedBraces">
      <property name="severity" value="error"/>
    </module>
    <module name="DeclarationOrder">
      <property name="severity" value="warning"/>
    </module>
    <module name="DefaultComesLast">
      <property name="severity" value="error"/>
    </module>
    <module name="EqualsHashCode">
      <property name="severity" value="error"/>
    </module>
    <module name="IllegalCatch">
      <property name="severity" value="info"/>
    </module>
    <module name="IllegalThrows">
      <property name="severity" value="info"/>
    </module>
    <module name="InnerAssignment">
      <property name="severity" value="error"/>
    </module>
    <module name="MultipleVariableDeclarations">
      <property name="severity" value="warning"/>
    </module>
    <module name="NestedForDepth">
      <property name="max" value="3"/>
    </module>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn">
      <property name="severity" value="info"/>
    </module>
    <module name="StringLiteralEquality">
      <property name="severity" value="warning"/>
    </module>
    <module name="OneStatementPerLine">
      <property name="severity" value="error"/>
    </module>
    <module name="InnerTypeLast"/>
    <module name="HideUtilityClassConstructor">
      <property name="severity" value="info"/>
    </module>
    <module name="VisibilityModifier">
      <property name="severity" value="info"/>
      <property name="packageAllowed" value="true"/>
      <property name="protectedAllowed" value="true"/>
    </module>
    <module name="ArrayTypeStyle"/>
    <module name="AnnotationUseStyle">
      <property name="closingParens" value="ignore"/>
    </module>
    <module name="MissingDeprecated"/>
    <module name="AnnotationLocation">
      <property name="tokens" value="CLASS_DEF,INTERFACE_DEF,ENUM_DEF,METHOD_DEF"/>
      <property name="allowSamelineSingleParameterlessAnnotation" value="false"/>
    </module>
    <module name="AnnotationLocation">
      <property name="tokens" value="CTOR_DEF,VARIABLE_DEF"/>
      <property name="allowSamelineMultipleAnnotations" value="true"/>
    </module>
    <module name="NonEmptyAtclauseDescription"/>
    <module name="JavadocTagContinuationIndentation"/>
    <module name="JavadocParagraph"/>
    <module name="EqualsAvoidNull"/>
    <module name="NestedForDepth">
      <property name="max" value="2"/>
    </module>
    <module name="NestedIfDepth">
      <property name="max" value="3"/>
    </module>
    <module name="OverloadMethodsDeclarationOrder"/>
    <module name="BooleanExpressionComplexity">
      <property name="max" value="4"/>
    </module>
  </module>
  <module name="FileLength">
    <property name="severity" value="warning"/>
  </module>
  <module name="SuppressionFilter">
    <property name="file" value="suppressions.xml"/>
  </module>
</module>
